.exercism/
__pycache__/
**/tests.out
**/executable
build/
cpp/**/test/
c/**/test/vendor/
.gradle/
*.class
node_modules/
javascript/**/.eslintrc
javascript/**/.npmrc
javascript/**/*.json
javascript/**/babel.config.js
